<table>
    <tr>
        <th colspan="5" class="th_title">{{title}}</th>
    </tr>
    <tr>
        <th class="th_category">Name</th>
        <th class="th_category">Color</th>
        <th class="th_category">Type</th>
        <th class="th_category">Edition</th>
        <th class="th_category">Quality</th>
        <th class="th_category"></th>
    </tr>
    <tr>
    {{#each card}}
        <tr>
            <td>{{name}}</td>
            <td>{{color}}</td>
            <td>{{type}}</td>
            <td>{{edition}}</td>
            <td>{{quality}}</td>
        </tr>
    {{/each}}
</table>